.templateName {
    margin: 0;
}

.card {
    height: 160px;
}

.cardContent {
    max-height: 100%;
    box-sizing: border-box;
    padding-bottom: 16px !important;
    display: flex;
    flex-direction: column;
}

.templateHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.exercisesList {
    overflow: hidden;
    font-size: 14px;
    color: gray;
}
