.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exerciseName {
    text-transform: capitalize;
    list-style: none;
    color: #1a2027;
}

.list {
    width: 100%;
    max-width: 360px;
}
