.heading {
  text-align: center;
  padding-top: 20px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.field {
  margin-bottom: 20px !important;
}
