@import 'src/css/variables/colors';

.form {
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    max-width: 500px;
}

.formWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field {
    width: 100%;
}

.fieldWithError {
    fieldset {
        border: 1px solid $---color-border-error !important;
    }
}

.errorMessage {
    color: $---color-text-error !important;
}

.fieldLabel {
    margin-top: 20px;
    display: block;
}

.imageUploader {
    margin-top: 20px;
}

.submitButton {
    width: 100%;
    margin-top: 20px !important;
}

.imageUploadInput {
    display: none;
}

.inputWithError {
    border: 1px solid $---color-border-error !important;
}

.customFileUpload {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $--color-border-upload; // same color as for mui elements
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imageUploadInputText {
    padding-left: 10px;
}
