.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageName {
    padding: 0 20px;
    text-align: center;
}

.muscles {
    text-align: center;
    margin-top: 0;
    text-transform: capitalize;
}

.exerciseName {;
    text-transform:  capitalize;
    list-style: none;
    color: #1A2027;
}

.button {
    margin: 20px !important;
}
