.heading {
    text-align: center;
    padding-top: 40px;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    min-width: 250px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.field {
    margin-bottom: 20px !important;
}

.signUpLink {
    text-align: center;
    color: #1976d2;
    font-weight: bold;
    cursor: pointer;
}
