.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.papersWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.paper {
    width: 100%;
    height: 100%;
}

.exercisesNumber {
  color: lightgray;
    padding: 5px 0 0 10px;
}

.workoutName {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

.muscleTypes {
  padding-top: 10px;
  color: darkgray;
  text-align: center;
    text-transform: capitalize;
}
