@import 'src/css/variables/colors';

.exerciseName {
    span {
        font-weight: bold !important;
    }
    text-transform: capitalize;
    list-style: none;
    color: $--color-text-exercise-name;
}
