.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.addButton {
    position: fixed !important;
    bottom: 50px;
    right: 50px;
}
